
body {
	background-color: #54545451;
	
	background-image: url('../img/temp_sedona-index.png'); 
	background-repeat: no-repeat;
	background-position: 50% 0;
	opacity: 0.6; 
	
	width: auto;
	margin: 0 auto;
}

.container {
	width: 1200px;
	margin: 0 auto;

	display: flex; 	
	flex-direction: column; 	

	font-family: "PT Sans", Arial, sans-serif;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/***********************************************/
/***********************************************/

footer {	background-color: #FF00007B;}
main {	background-color: #6868685F;}

header {
	position: relative;
}

.navigation {	
	padding: 0;	
	margin: 0;

	display: flex;	
	justify-content: space-between;	
	/*justify-content: center;	*/
}

.navigation li {
	list-style: none;
	width: 241px;
	text-align: center;
	white-space: nowrap;

	padding: 14px 0 15px 0;
}
.navigation li:nth-child(1) {
	text-align: left;
	margin-left: 71px;
}

.navigation li:nth-child(2) {
	text-align: left;
	margin-right: 94px;
}
.navigation li:nth-child(3) {
	text-align: right;
	letter-spacing: 0.5px;
}

.navigation li:nth-child(4) { 
	text-align: right;
	margin-right: 71px;
}

.navigation a {
	text-decoration: none; /*Убираем оформление ссылок:*/
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
} 
/****************************************/
.logo {
	background-color: #8080804A;

	width: 140px;
	height: 72px;

	position: absolute; /*Позиционируем в header... */
	left: 50%; 	/*... смещаем влево на ширину логотипа:*/
	margin-left: -70px;
	top: -1px;/*... позиц.по верхней границе wrap-navigation:*/
}
	
/*todo: цвета заменить,*/
/*todo: проверить действие на второй странице:*/
.logo:link {color: #FF006E;}	
.logo:hover {color: #FF006E;}	
.logo:active {color: #FF006E;} 	
.logo:visited {color: #FF006E;}

/********************************************/
/*********************************************/

.main-index {
	display: flex;
	flex-direction: column;
}

/*********************************************/
.welcome {
	background-image: url("../img/mountains.jpg");

	display: flex;
	flex-direction: column;			/*вертикальное направление*/
	justify-content: center; 		/*выравниваем по Y*/
	align-items: stretch;			/*выравниваем по X*/

	
}

.sedona {
	height: 430px;
	padding-left: 370px;
	padding-top: 77px;

	background-image: url("../img/polygon.svg ");
	background-repeat: no-repeat;
	background-position: center bottom -4px;
}

.description {
	background-color: #FFFFFFFF;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.description h1 {
	display: block;
	margin: 0 0;
	width: 470px;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1px;

	text-align: center;
	overflow-wrap: normal;
	padding-top: 62px;
}

.description p {
	display: block;
	margin: 0 0;

	font-size: 14px;
	line-height: 45px;
	text-transform: uppercase;
	letter-spacing: 0.1px;

	padding-top: 18px;
	padding-bottom: 42px;
}

/*********************************************/
.advantages {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.advantages ul {
	margin: 0;
	padding: 0;
}

.advantage-1 {
	background-color: #81b3d2;
	display: flex;
	justify-content: center;
}

.advantage-1-text {
	min-width: 400px;
	color: #FFFFFFFF;
}

.advantage-1-text h2 {
	display: block;
	font-size: 21px;
	line-height: 21px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	padding: 47px 0 0 100px; 
	margin: 0;

	width: 200px;
	overflow-wrap: normal;
}

.advantage-1-text p:first-of-type {
	display: block;

	font-size: 14px;
	line-height: 21px;
	font-weight: normal;

	padding: 10px 0 0 176px;
}

.advantage-1-text p:last-of-type {
	display: block;

	font-size: 14px;
	line-height: 21px;
	font-weight: normal;

	width: 300px;
	text-align: center;
	text-transform: uppercase;
	overflow-wrap: normal;

	padding: 7px 0 0 55px;
	letter-spacing: 0.5px;
}

/*********************************************/

.advantage-2 {
	background-color: #81b3d2;
}



/*.second-advantage li {
	list-style: none;
	/*width: 241px;
	text-align: center;
	white-space: nowrap;

	padding: 14px 0 15px 0;
}


















/***********************/
	.search {
		background-color: #4040403A;
		;
	}
/***********************/
	.googlemap {
		background-color: #FF6A0041;
		;
	}

/***********************************************/
/***********************************************/

footer {
	/*todo: сделать полупрозрачную подложку*/

	/*Флекс-модель:*/
	display: flex;
	/*Дочерние выравниваются в одну линию и равномерно распределяются:*/
	flex-wrap: nowrap; 
	justify-content: space-around;		
}
	
	footer>p {
		/*Временный цвет:*/
		background-color: #7FFF8E6B;
		margin: 0;
		padding: 0;
		
		font-size: 21px;
		line-height: 120px;
		text-align: center;
		width: 240px;
	}
	
	.websites {
		/*Временный цвет:*/
		background-color: #0054FF35;
		margin: 0;
		padding: 0;
		width: 240px;
		
		/*Убираем стили списка:*/
		list-style: none; 			
		
		/*Вложенные li - согласно flex-модели*/
		display: flex;
		flex-wrap: nowrap; 	
		/*Располагаем дочерние li в одну строку и сдвигаем в центр блока по вертикали:*/			
		justify-content: center;
		align-items: center;
	}

		.websites li {
			background-color: #81b3d2; 
			margin: 6px;
			/*padding: 0;*/

			background-position: 50% 50%;
			background-repeat: no-repeat;
		}

		.websites li:nth-child(1) {background-image: URL("../img/twitter.svg");}
		.websites li:nth-child(2) {background-image: URL("../img/fb-icon.svg");}
		.websites li:nth-child(3) {background-image: URL("../img/youtube.svg");}

		.websites a {
			/*margin: 0;
			padding: 0;*/

			/*Меняем модель на блочное поведение*/
			display: block;

			width: 46px; 					
			height: 49px; 	
			
			/*Текст есть, но визуально не представлен*/
			font-size: 0;
		}

	.copyright {
		background-color: #7C7C7C95;
		/*background-image: URL("../img/logo-htmlacademy.svg");
		background-repeat: no-repeat; 
		background-position: center;*/
		width: 240px;
		display: flex;
		flex-wrap: nowrap;
		align-items: center; 
	}

		.copyright>a {
			background-color: #4CFF0066;
			text-decoration: none;
			font-size: 14px;
			line-height: 120px;
		}

		.logo-academy {
			background-color: #FF006E56;
			
			font-size: 0;

			background-image: URL("../img/logo-htmlacademy.svg");
			background-position: 50% 50%;
			background-repeat: no-repeat;
			width: 115px;
			height: 41px;
		}
/*-------------------------------------------*/
/*-------------------------------------------*/


.visually-hidden {
	display: none;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}


/*
background-color:
Даже, если изображение непрозначно и цвет не будет показан при нормальных 
обстоятельствах, веб-разработчику следует всегда указывать аттрибут background-color. 
Если изображение не может быть загружено —например, в случае отказа сетевого 
подключения — у элемента будет отображён цветной фон.
*/