
@font-face {
	font-family: "ptsans";
	font-style: normal;
	font-weight: normal;
	src: 
		url("../fonts/ptsans.woff2") format("woff2"),
		url("../fonts/ptsans.woff") format("woff");
}

@font-face {
	font-family: "ptsans";
	font-style: normal;
	font-weight: bold;
	src: 
		url("../fonts/ptsansbold.woff2") format("woff2"),
		url("../fonts/ptsansbold.woff") format("woff");
}

body {
	width: auto;
	margin: 0 auto;

	font-family: "ptsans", arial, sans-serif;
	background-color: #f2f2f2;
	
/*	background-image: url("../img/sedona-index.png"); 
	background-repeat: no-repeat;
	background-position: 50% 0;
	opacity: 0.7; */
	
/*	background-image: url("../img/sedona-hotels.png"); 
	background-repeat: no-repeat;
	background-position: 50% 0;
	opacity: 0.8; 
*/
}

.container {
	width: 1200px;
	display: flex; 	
	flex-direction: column; 
	margin: 0 auto;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/***---Хедер с навигацией---***/

.header {
	position: relative;
	width: 1200px;
	margin: auto;

	background-color: #ffffff;
}

.navigator {
	display: flex;
	flex-wrap: wrap;
	padding: 0;	
	margin: 0 71px;
	
	list-style-type: none;
}

.go-to-page {
	min-height: 56px;
	width: 240px;
}

.go-to-page a {
	display: inline-block;
	margin: 14px auto;

	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}

.go-to-page:nth-child(4n-1) {
	margin-left: auto;
	text-align: right;
}

.go-to-page:nth-child(4n) {
	text-align: right;
}

.go-to-page a:not(.inactive):hover,
.go-to-page a:not(.inactive):focus {
	color: #81b3d2;
}

.go-to-page a:not(.inactive):active {
	color: #cacaca;
}

.go-to-page .inactive {
	color: #766357;
	cursor: default;
}

.logo {
	width: 140px;
	height: 72px;
	position: absolute; 
	left: 50%; 	
	top: -1px;
	margin-left: -70px;
}

/***---INDEX: часть main---***/
/***---Вводная картинка с презентацией Седоны---***/

.main-index, 
.main-hotels {
	display: flex;
	flex-wrap: wrap;
}

.welcome-sector {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	background-color: #e4f1f9;
	background-image: url("../img/mountains.jpg");
	background-repeat: no-repeat;
	background-position: center top -83px;
}

.sedona {
	min-height: 508px;
	width: 100%;
	margin: 0 auto;

	background-image: url("../img/polygon.svg");
	background-repeat: no-repeat;
	background-position: center bottom -2.5px;
	background-size: contain;
}

.sedona img {
	display: block;
	min-width: 459px;
	min-height: 353px;
	margin: 76px auto 0;
}

.presentation {
	min-height: 216px; 
	width: 100%;
	margin: 0 auto;

	text-align: center;
	background-color: #ffffff;
}

.presentation h1 {
	width: 470px;
	margin: 59px auto 27px;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1px;
	overflow-wrap: normal;	
}

.presentation p {
	width: calc(100% - 100px);
	margin: 0 auto 15px;

	color: #333333;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0.1px;
}

/***---Список преимуществ Седоны---***/

.reasons {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.advantage {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}

.advantage:nth-of-type(2) {
	flex-direction: row-reverse;
}

.primary {
	width: 400px; 
	min-height: 256px;

	list-style: none;
	text-align: center; 
	text-transform: uppercase;
}
 
.primary.blue-layout {
	background-color: #81b3d2;
	color: #ffffff;
}

.primary.lightgray-layout {
	background-color: #eeeeee;
}

.primary h2 {
	width: 150px;
	margin: 47px auto 23px;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	overflow-wrap: normal;
}

.primary p {
	width: calc(100% - 30px);
	margin: 0 auto 22px;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	overflow-wrap: normal;
}

.advantage:first-of-type p {
	width: 310px;
	letter-spacing: 0.4px;
}

.advantage:nth-of-type(2) p {
	width: 320px;
	letter-spacing: 0.1px;
}

.primary:nth-of-type(n + 3) p {
	width: 258px;
	/*letter-spacing: 0.1px;*/
}

.image-wrapper {
	display: block;
	width: 800px;
	min-height: 256px;

	font-size: 0;

	background-color: #81b3d2;
}

.secondary-wrapper {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
}

.secondary {
	width: 400px; 
	min-height: 330px;

	list-style: none;
	text-align: center; 
	text-transform: uppercase;

	background-color: #ffffff;
}

.secondary.icon-home {
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: center top 59px;
}

.secondary.icon-dish {
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: center top 60px;
}

.secondary.icon-souvenir {
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: center top 56px;
}

.secondary h3 {
	min-width: 300px;
	margin: 161px auto 12px;

	font-size: 21px;
	font-weight: bold;
	line-height: 21px;
}

.secondary p {
	width: 300px;
	margin: 24px auto 12px;

	color: #333333;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	overflow-wrap: normal;
	letter-spacing: 0.1px;
}

/***---Сектор с кнопкой, открывающей нижерасположенную форму---***/

.lowest-sector {
	overflow: hidden;
}

.search-sector {
	display: inline-block;
	width: 100%;
	min-height: 291px;

	text-align: center; 
	text-transform: uppercase;

	background-color: #ffffff;
}

.search-sector h2 {
	margin: 50px auto 24px;
	
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
}

.search-sector p {
	width: 500px;
	margin: 20px auto;

	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	overflow-wrap: normal;
	color: #333333;
}

.popup-opener {
	display: inline-block;
	width: 548px;
	margin: 27px auto 0;
	padding: 30px 10px;
	
	vertical-align: middle;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px; 
	color: #ffffff;
	text-decoration: none;

	background-color: #766357;
}

.popup-opener:hover,
.popup-opener:focus {
	background-color: #604e43;
}

.popup-opener:active, 
.popup-opener:active {
	color: #928a85;
	background-color: #503e33;
}

/***---Форма подбора  гостиниц---***/

.lowest-sector {
	position: relative;
}

.booking-form {
	position: absolute;
	left: calc(50% - 284px);
	width: 458px;
	padding-top: 55px;
	padding-left: 55px;
	padding-right: 55px;
	padding-bottom: 55px;

	z-index: 1;
	
	display: flex;
	flex-wrap: wrap;
	/*justify-content: space-between;*/
	justify-content: flex-start;
	
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;

	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background-color: #ffffff;
}

.booking-organizer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0 auto 29px;
}

.date-picker {
	display: block;
	width: 30px;
	min-height: 30px;
	padding-left: 7px;
	padding-top: 8px;

	background-color: #f2f2f2;
	border: none;
}

.calendar-icon {
	width: 21px;
	height: 22px;

	fill: #cacaca;
}

.date-picker:hover .calendar-icon, 
.date-picker:focus .calendar-icon {
	outline: none;
	fill: #000000;
}

.date-picker:active .calendar-icon {
	fill: #81b3d2;
}

.booking-organizer label {
	display: block;
	width: 111px;

	padding-top: 6px;
	
	text-align: left;
}

.shift-in-label {
	width: 85px;
	padding-left: 50px;
}

.template-field {
  min-height: 38px;

  text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	
  background-color: #f2f2f2;
	border: none;
}

.template-field::placeholder {
	color: #000000;
}

.for-date {
	width: 286px;
	padding: 0 12px;
}

.for-date:hover {
	outline: none;
	background-color: #ebebeb;
}

.for-date:focus {
	outline: 2px solid #e5e5e5;
	background-color: #ffffff;
}

.for-number {
	width: 40px;
	padding: 0;
	text-align: center;
}

.for-number:focus {
	outline: 2px solid #e5e5e5;
}

.number-changer {
	width: 39px;
	height: 38px;
	/*padding: 0;*/

	border: none;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	
	color: #a9a9a9;
	background-color: #f2f2f2;
}

.number-changer:first-of-type {
	font-size: 23px;
}

.number-changer:last-of-type {
	padding-top: 4px;
}

.number-changer:hover, 
.number-changer:focus {
	/*outline: 2px solid #e5e5e5;*/
	outline-offset: -5px;
	color: #000000;
}

.number-changer:active {
	outline: none;
	color: #81b3d2;
}

.btn-send-reservation {
	width: 458px;
	min-height: 58px;
	margin: 26px auto 0;

	border: none;

	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #ffffff;

	background-color: #81b3d2;
}

.btn-send-reservation:hover, 
.btn-send-reservation:focus {
	outline: none;
	background-color: #669ec0;
}

.btn-send-reservation:active {
	outline: none;
	color: #94b9d2;
	background-color: #5496bd;
} 

/***---Карта---***/

.map-wrapper {
	height: 594px;
	width: 100%;
	overflow: hidden;
}

/*.map-surface {
	display: block;
	width: 1718px;
	height: 748px;
	margin: -153px -259px;
}*/

/***---Футер---***/

.footer {
	display: flex;
	flex-wrap: wrap;	
	width: 100%;
	margin: 0 auto;

	background-color: #ffffff;	
}

.extended-footer {
	position: absolute;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.9);	
}

.equalizer {
	display: block;
	margin: 0 auto;
	padding: 0; 
	min-height: 121px;
	width: 400px;

	text-align: center;
	text-transform: uppercase;
}

.visitsedona {
	width: calc(100% - 20px);
	margin: 10px auto;
	padding-top: 36px;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.websites {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	list-style-type: none;
}

.network {
	display: block;
	width: 46px; 					
	height: 48px; 
	margin: 3px;
	
	background-color: #81b3d2;
}

.twitter-icon {
	width: 17px;
	height: 15px;
	margin-top: 16px;
	fill: #ffffff;
}
.facebook-icon {
	width: 12px;
	height: 22px;
	margin-top: 13px;
	fill: #ffffff;
}

.youtube-icon {
	width: 20px;
	height: 16px;
	margin-top: 14px;
	fill: #ffffff;
}

.network:hover, 
.network:focus {
	outline: none;
	background-color: #669ec0;
}

.network:active {
	outline: none;
	background-color: #5496bd;
}

.network:active .change-social-icon {
	fill: #88b6d1;
}

.copyright {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.website-by {
	margin: auto 3px;

	font-size: 14px;
	line-height: 26px;
}

.logo-icon {
	width: 108px;
	height: 37px;
	padding-left: 1px;
	padding-top: 1px;
	margin: auto 5px;

	fill: #231f20;
}

.go-to-academy:hover .logo-icon, 
.go-to-academy:focus .logo-icon {
	fill: #81b3d2;
	transition: 0.5s;
}

.go-to-academy:active .logo-icon {
	fill: #bdbbbc;
	transition: 0.2s; 
}

/***---HOTELS: часть main---***/
/***---Форма в верхней части страницы---***/

.form-filter {	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 1056px;
	min-height: calc(217px - 11px - 11px);

	padding: 11px 72px 11px 72px;

	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #6b92b9;
	background-image: url("../img/bg-search.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.form-filter h3 {
	margin-bottom: 25px;
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
}

.filter-by-accommodation, 
.choose-from {
	padding: 0;
	list-style: none;
}

.filter-by-accommodation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	min-height: 100px;
	margin: 0;

	/*outline: 1px dotted red;*/
}

.block-infrastructure, 
.block-housing {
	width: 255px;
}

.device {
	margin-bottom: 25px;
	padding-left: 39px;
}

.block-housing .device {
	margin-bottom: 25px;
	padding-left: 40px;
}

.base-box {
	position: absolute;
/*	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;*/
	width: 1px;
	height: 1px; 
	overflow: hidden;
	clip: rect(0 0 0 0); 
}

.custom-box {
	position: absolute;
	width: 27px;
	height: 23px;
	margin-left: -39px;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
}

.block-housing .custom-box {
	margin-left: -40px;
}

.base-box:checked + .custom-box {
	background-image: url(../img/checkbox-on.svg);
}






/*.filter-block:last-of-type {
	width: 317px;
}*/


/*
.price {

	width: 330px;
	margin: 50px auto; 

	font-size: ;
	font-weight: ;
	line-height: ;
	text-transform: ;
	color: ;
}*/


/***---Бар---***/ 
/*



.title-filter-block-price {
	margin-bottom: 9px;
}

.price-ctrls {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	
	font-size: 0;

	border: 2px solid #ffffff; 
	border-radius: 2px;
}

.price-ctrls::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);


	width: 2px;
	height: 22px;

	background-color: #ffffff;
}

.label-ctrls {
	display: inline-block;
	width: 90px;

	font-size: 14px;
	line-height: 30px;
	vertical-align: top;

	cursor: pointer;
	padding-left: 65px; 
}

.input-ctrls {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none; 
	border: none;

}

.range-ctrls {
	position: relative;

	margin-bottom: 32px; 

	outline: 1px dotted #D67FFF;
}

.scale {
	height: 2px;

	background-color: rgba(255, 255, 255, 0.3);
}

.scale .bar {
	width: 80%;
	height: 2px;

	background-color: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;

	background-color: #ababab;
}

.range-toggle:hover {
	background-color: #224ADC;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-show-results {
	display: block;
	margin: 0 auto;
	padding: 6px 53px;

	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #ffffff;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-show-results:hover {
	color: #000000;

	background-color: #ffffff;
}

*/








/***---Стилизация range---***/
/*
.multi-range, .multi-range * { box-sizing: border-box; padding: 0; margin: 0; }
.multi-range { 
    position: relative; width: 160px; height: 28px; margin: 16px;
    border: 1px solid #ddd; font-family: monospace;
}


.multi-range > hr {
	position: absolute;
	width: 100%; 
	height: 50%;
}

.multi-range > input[type=range] {
	width: calc(100% - 16px);
	position: absolute; 
	bottom: 6px; 
	left: 0;
}

.multi-range > input[type=range]:last-of-type { margin-left: 16px; }
.multi-range > input[type=range]::-webkit-slider-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-webkit-slider-runnable-track { -webkit-appearance: none; height: 0px; }
.multi-range > input[type=range]::-moz-range-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-moz-range-track { -webkit-appearance: none; height: 0px; }
.multi-range > input[type=range]::-ms-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-ms-track { -webkit-appearance: none; height: 0px; }
.multi-range::after { 
    content: attr(data-lbound) ' - ' attr(data-ubound); 
    position: absolute; top: 0; left: 100%; white-space: nowrap;
    display: block; padding: 0px 4px; margin: -1px 2px;
    height: 26px; width: auto; border: 1px solid #ddd; 
    font-size: 13px; line-height: 26px;
}

*/



/*.visually-hidden:not(:focus):not(:active) {*/
.visually-hidden {
	display: none;		/*возможно, удалить*/
	/*position: absolute;*/
/*	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;*/
}


/*
background-color:
даже, если изображение непрозначно и цвет не будет показан при нормальных 
обстоятельствах, веб-разработчику следует всегда указывать аттрибут background-color. 
если изображение не может быть загружено —например, в случае отказа сетевого 
подключения — у элемента будет отображён цветной фон.
*/