
@font-face {
	font-family: "ptsans";
	font-style: normal;
	font-weight: normal;
	src: 
		url("../fonts/ptsans.woff2") format("woff2"),
		url("../fonts/ptsans.woff") format("woff");
}

@font-face {
	font-family: "ptsans";
	font-style: normal;
	font-weight: bold;
	src: 
		url("../fonts/ptsansbold.woff2") format("woff2"),
		url("../fonts/ptsansbold.woff") format("woff");
}

body {
	width: auto;
	margin: 0 auto;

	font-family: "ptsans", arial, sans-serif;
	background-color: #f2f2f2;
	
	background-image: url("../img/sedona-index.png"); 
	background-repeat: no-repeat;
	background-position: 50% 0;
	opacity: 0.7; 
	
/*	background-image: url("../img/sedona-hotels.png"); 
	background-repeat: no-repeat;
	background-position: 50% 0;
	opacity: 0.5; */
}

.container {
	width: 1200px;
	display: flex; 	
	flex-direction: column; 
	margin: 0 auto;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/***---HEADER---***/

.header {
	position: relative;
	width: 1200px;
	margin: auto;

	background-color: #ffffff;
}

.navigator {
	display: flex;
	flex-wrap: wrap;
	padding: 0;	
	margin: 0 71px;
	
	list-style-type: none;
}

.go-to-page {
	min-height: 56px;
	width: 240px;
}

.go-to-page a {
	display: inline-block;
	margin: 14px auto;

	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}

.go-to-page:nth-child(2) {
	padding-left: 2px;
}

.go-to-page:nth-child(4n-1) {
	margin-left: auto;
	text-align: right;
	padding-right: 2px;
	letter-spacing: .4px;
}

.go-to-page:nth-child(4n) {
	text-align: right;
}

.go-to-page a:not(.inactive):hover,
.go-to-page a:not(.inactive):focus {
	color: #81b3d2;
}

.go-to-page a:not(.inactive):active {
	color: #cacaca;
}

.go-to-page .inactive {
	color: #766357;
	cursor: default;
}

.logo {
	width: 140px;
	height: 72px;
	position: absolute; 
	left: 50%; 	
	top: -1px;
	margin-left: -70px;
}

/***---INDEX: MAIN---***/

.main-index, 
.main-hotels {
	display: flex;
	flex-wrap: wrap;
}

.welcome-sector {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	background-color: #e4f1f9;
	background-image: url("../img/mountains.jpg");
	background-repeat: no-repeat;
	background-position: center top -83px;
}

.sedona {
	min-height: 508px;
	width: 100%;
	margin: 0 auto;

	background-image: url("../img/polygon.svg");
	background-repeat: no-repeat;
	background-position: center bottom -2.5px;
	background-size: contain;
}

.sedona img {
	display: block;
	min-width: 459px;
	min-height: 353px;
	margin: 76px auto 0;
}

.presentation {
	min-height: 216px; 
	width: 100%;
	margin: 0 auto;

	text-align: center;
	background-color: #ffffff;
}

.presentation h1 {
	width: 470px;
	margin: 59px auto 27px;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1px;
	overflow-wrap: normal;	
}

.presentation p {
	width: calc(100% - 100px);
	margin: 0 auto 15px;

	color: #333333;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0.1px;
}

/***---Список преимуществ Седоны---***/

.reasons {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.advantage {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}

.advantage:nth-of-type(2) {
	flex-direction: row-reverse;
}

.primary {
	width: 400px; 
	min-height: 256px;

	list-style: none;
	text-align: center; 
	text-transform: uppercase;
}
 
.primary.blue-layout {
	background-color: #81b3d2;
	color: #ffffff;
}

.primary.lightgray-layout {
	background-color: #eeeeee;
}

.primary h2 {
	width: 150px;
	margin: 47px auto 23px;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	overflow-wrap: normal;
}

.primary p {
	width: calc(100% - 30px);
	margin: 0 auto 22px;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	overflow-wrap: normal;
}

.advantage:first-of-type p {
	width: 310px;
	letter-spacing: 0.4px;
}

.advantage:nth-of-type(2) p {
	width: 320px;
	letter-spacing: 0.1px;
}

.primary:nth-of-type(n + 3) p {
	width: 258px;
	/*letter-spacing: 0.1px;*/
}

.image-wrapper {
	display: block;
	width: 800px;
	min-height: 256px;

	font-size: 0;

	background-color: #81b3d2;
}

.secondary-wrapper {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
}

.secondary {
	width: 400px; 
	min-height: 330px;

	list-style: none;
	text-align: center; 
	text-transform: uppercase;

	background-color: #ffffff;
}

.secondary.icon-home {
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: center top 59px;
}

.secondary.icon-dish {
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: center top 60px;
}

.secondary.icon-souvenir {
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: center top 56px;
}

.secondary h3 {
	min-width: 300px;
	margin: 161px auto 12px;

	font-size: 21px;
	font-weight: bold;
	line-height: 21px;
}

.secondary p {
	width: 300px;
	margin: 24px auto 12px;

	color: #333333;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	overflow-wrap: normal;
	letter-spacing: 0.1px;
}

/***---Сектор с кнопкой, открывающей нижерасположенную форму---***/

.lowest-sector {
	overflow: hidden;
}

.search-sector {
	display: block;
	width: 100%;
	min-height: calc(291px - 50px);
	padding: 50px 0 0;
	
	text-align: center; 
	text-transform: uppercase;

	background-color: #ffffff;
}

.search-sector h2 {
	margin: 0 auto 24px;
	
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
}

.search-sector p {
	width: 500px;
	margin: 20px auto;

	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	overflow-wrap: normal;
	color: #333333;
}

.popup-opener {
	display: inline-block;
	width: 548px;
	margin: 27px auto 0;
	padding: 30px 10px;
	
	vertical-align: middle;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px; 
	color: #ffffff;
	text-decoration: none;
	
	transition-duration: 150ms;
	background-color: #766357;
}

.popup-opener:hover,
.popup-opener:focus {
	background-color: #604e43;
}

.popup-opener:active, 
.popup-opener:active {
	color: #928a85;
	background-color: #503e33;
}

/***---Форма подбора  гостиниц---***/

.lowest-sector {
	position: relative;
}

.booking-form {
	position: absolute;
	left: calc(50% - 284px);
	width: 458px;
	padding-top: 55px;
	padding-left: 55px;
	padding-right: 55px;
	padding-bottom: 55px;

	z-index: 1;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;

	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background-color: #ffffff;
}

.booking-organizer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0 auto 29px;
}

.date-picker {
	display: block;
	width: 30px;
	min-height: 30px;
	padding-left: 7px;
	padding-top: 8px;

	background-color: #f2f2f2;
	border: none;
}

.calendar-icon {
	width: 21px;
	height: 22px;

	fill: #cacaca;
}

.date-picker:hover .calendar-icon, 
.date-picker:focus .calendar-icon {
	outline: none;
	fill: #000000;
}

.date-picker:active .calendar-icon {
	fill: #81b3d2;
}

.booking-organizer label {
	display: block;
	width: 111px;

	padding-top: 6px;
	
	text-align: left;
}

.shift-in-label {
	width: 85px;
	padding-left: 50px;
}

.template-field {
  min-height: 38px;

  text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	
  background-color: #f2f2f2;
	border: none;
}

.template-field::placeholder {
	color: #000000;
}

.for-date {
	width: 286px;
	padding: 0 12px;
}

.for-date:hover {
	outline: none;
	background-color: #ebebeb;
}

.for-date:focus {
	outline: 2px solid #e5e5e5;
	background-color: #ffffff;
}

.for-number {
	width: 40px;
	padding: 0;
	text-align: center;
}

.for-number:focus {
	outline: 2px solid #e5e5e5;
}

.number-changer {
	width: 39px;
	height: 38px;
	/*padding: 0;*/

	border: none;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	
	color: #a9a9a9;	background-color: #f2f2f2;
}

.number-changer:first-of-type {
	font-size: 23px;
	z-index: 1;
}

.number-changer:last-of-type {
	padding-top: 4px;
}

.number-changer:hover, 
.number-changer:focus {
	outline-offset: -5px;
	color: #000000;
}

.number-changer:active {
	outline: none;
	color: #81b3d2;
}

.btn-send-reservation {
	width: 458px;
	min-height: 58px;
	margin: 26px auto 0;

	border: none;

	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #ffffff;
	
	transition-duration: 150ms;
	background-color: #81b3d2;
}

.btn-send-reservation:hover, 
.btn-send-reservation:focus {
	outline: none;
	background-color: #669ec0;
}

.btn-send-reservation:active {
	outline: none;
	color: #94b9d2;
	background-color: #5496bd;
} 

/***---Карта---***/

.map-wrapper {
	height: 594px;
	width: 100%;
	overflow: hidden;
}

/*.map-surface {
	display: block;
	width: 1718px;
	height: 748px;
	margin: -153px -259px;
}*/

/***---Футер---***/

.footer {
	display: flex;
	flex-wrap: wrap;	
	width: 100%;
	margin: 0 auto;

	background-color: #ffffff;	
}

.extended-footer {
	position: absolute;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.9);	
}

.equalizer {
	display: block;
	margin: 0 auto;
	padding: 0; 
	min-height: 121px;
	width: 400px;

	text-align: center;
	text-transform: uppercase;
}

.visitsedona {
	width: calc(100% - 20px);
	margin: 10px auto;
	padding-top: 36px;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.websites {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	list-style-type: none;
}

.network {
	display: block;
	width: 46px; 					
	height: 48px; 
	margin: 3px;
	
	transition-duration: 150ms;
	background-color: #81b3d2;
}

.twitter-icon {
	width: 17px;
	height: 15px;
	margin-top: 16px;
	fill: #ffffff;
}
.facebook-icon {
	width: 12px;
	height: 22px;
	margin-top: 13px;
	fill: #ffffff;
}

.youtube-icon {
	width: 20px;
	height: 16px;
	margin-top: 14px;
	fill: #ffffff;
}

.network:hover, 
.network:focus {
	outline: none;
	background-color: #669ec0;
}

.network:active {
	outline: none;
	background-color: #5496bd;
}

.network:active .change-social-icon {
	fill: #88b6d1;
}

.copyright {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.website-by {
	margin-top: 11px;
	margin-right: 4px;
	margin-left: 7px;

	font-size: 14px;
	line-height: 26px;
}

.logo-icon {
	width: 115px;
	height: 41px;
	margin: auto 5px;
	
	transition-duration: 150ms;
	fill: #231f20;
}

.go-to-academy:hover .logo-icon, 
.go-to-academy:focus .logo-icon {
	fill: #81b3d2;
}

.go-to-academy:active .logo-icon {
	fill: #bdbbbc;
}

/***---HOTELS: часть main---***/
/***---Форма в верхней части страницы---***/

.form-filter {	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: calc(1200px - 72px - 72px);
	min-height: calc(217px - 10.5px - 7.5px);
	padding: 10.5px 72px 7.5px 72px;

	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #6b92b9;
	background-image: url("../img/bg-search.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.form-filter h3 {
	min-height: 21px;
	margin-bottom: 24.5px;
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
}

.filter-by-accommodation, 
.choose-from {
	padding: 0;
	list-style: none;
}

.filter-by-accommodation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	min-height: 100px;
	margin: 0;
}

.block-infrastructure, 
.block-housing {
	width: 255px;
}

/***---Пользовательский чекбокс---***/

.new-item {
	margin-bottom: 25px;
	padding-left: 39px;
}

.block-housing .new-item {
	padding-left: 41px;
}

.block-housing .custom-box {
	margin-left: -60px;
}

.device {
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
}

.base-box {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	overflow: hidden;
	border: 0;
	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
}

.new-item .custom-box {
	position: absolute;
	width: 29px;
	height: 27px;
	margin-top: -2px;
	margin-left: -42px;
}

.new-item:nth-of-type(3n) {
	padding-top: 1px;
}

.new-item:nth-of-type(3n) .custom-box {
	margin-top: -3px;
}

.custom-box .closedbox {
	fill-opacity: 1;
}

.custom-box .component-checkmark, 
.custom-box .component-tornbox, 
.custom-box .outline {
	fill-opacity: 0;
}

.base-box:checked + .custom-box .component-tornbox {
	-webkit-transition: 500ms;
	fill-opacity: 1;
}

.base-box:checked + .custom-box .component-checkmark {
	-webkit-transition: 1000ms;
	fill-opacity: 1;
}

.base-box:checked + .custom-box .closedbox {
	-webkit-transition: 500ms;
	fill-opacity: 0;
}

.base-box:focus ~ .custom-box .outline, 
.base-box:active ~ .custom-box .outline {
	fill: #ff0000;
	fill-opacity: 1;
}

.base-box:disabled ~ .custom-box .closedbox {
	fill: #6a6a6a;
	fill-opacity: 1;
}

.base-box:disabled ~ .custom-box .outline, 
.base-box:disabled ~ .custom-box .component-checkmark, 
.base-box:disabled ~ .custom-box .component-tornbox {
	fill-opacity: 0;
}

.base-box:checked:disabled ~ .custom-box .closedbox, 
.base-box:checked:disabled ~ .custom-box .component-checkmark, 
.base-box:checked:disabled ~ .custom-box .component-tornbox {
	fill: #6a6a6a;
	fill-opacity: 1;
}

.base-box:disabled ~ .custom-box .outline {
	fill-opacity: 0;
}

/***---Слайдер---***/ 

.filter-by-cost {
	/*padding-top: 10px;*/

	outline: 1px dotted red;
}

.filter-by-cost .title-filter-by-cost {
	margin-bottom: 9.5px;
	margin-left: 3px;
	letter-spacing: 0.22px;
	
	outline: 1px dotted red;
}

.cost {
	position: relative;
	width: 315px;
	height: 33px;
	margin-bottom: 20px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	border: 2px solid #ffffff; 
	border-radius: 2px;
}

.cost::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 22px;
	left: 50%;
	top: 50%;
	transform: translate(calc(-50% + 1px), -50%);

	background-color: #ffffff;
}

.cost .min-cost, 
.cost .max-cost {
	width: 50px;
	margin: 0;
	/*font: inherit;*/

	background-color: red;
	outline: 1px dotted green;
}

.max-cost {
	

}
/*

.label-ctrls {
	display: inline-block;
	width: 90px;

	font-size: 14px;
	line-height: 30px;
	vertical-align: top;

	cursor: pointer;
	padding-left: 65px; 
}

.input-ctrls {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none; 
	border: none;

}

.range-ctrls {
	position: relative;

	margin-bottom: 32px; 

	outline: 1px dotted #D67FFF;
}

.scale {
	height: 2px;

	background-color: rgba(255, 255, 255, 0.3);
}

.scale .bar {
	width: 80%;
	height: 2px;

	background-color: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;

	background-color: #ababab;
}

.range-toggle:hover {
	background-color: #224ADC;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-show-results {
	display: block;
	margin: 0 auto;
	padding: 6px 53px;

	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #ffffff;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-show-results:hover {
	color: #000000;

	background-color: #ffffff;
}

/***---Стилизация range---***/
/*
.multi-range, .multi-range * { box-sizing: border-box; padding: 0; margin: 0; }
.multi-range { 
    position: relative; width: 160px; height: 28px; margin: 16px;
    border: 1px solid #ddd; font-family: monospace;
}


.multi-range > hr {
	position: absolute;
	width: 100%; 
	height: 50%;
}

.multi-range > input[type=range] {
	width: calc(100% - 16px);
	position: absolute; 
	bottom: 6px; 
	left: 0;
}

.multi-range > input[type=range]:last-of-type { margin-left: 16px; }
.multi-range > input[type=range]::-webkit-slider-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-webkit-slider-runnable-track { -webkit-appearance: none; height: 0px; }
.multi-range > input[type=range]::-moz-range-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-moz-range-track { -webkit-appearance: none; height: 0px; }
.multi-range > input[type=range]::-ms-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-ms-track { -webkit-appearance: none; height: 0px; }
.multi-range::after { 
    content: attr(data-lbound) ' - ' attr(data-ubound); 
    position: absolute; top: 0; left: 100%; white-space: nowrap;
    display: block; padding: 0px 4px; margin: -1px 2px;
    height: 26px; width: auto; border: 1px solid #ddd; 
    font-size: 13px; line-height: 26px;
}

*/

/***---Панель с сортировкой---***/ 

.sort-panel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding-left: 71px;
	padding-right: 70px;
	padding-top: 1px;
	padding-bottom: 2px;

	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;

	border-bottom: 1px solid #e5e5e5;
	background-color: #ffffff;
}

.sorting-type {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.sorting-type > h4 {
	width: 150px;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.sorting-type > p {
	width: 104px; 

	padding-top: 5px;

	text-align: center;
}

.sort-control-panel {
	display: flex;
	flex-wrap: wrap;

	max-width: 700px;
	
	padding-top: 5px;
	padding-left: 25px;
	padding-right: 25px;
	
	list-style-type: none;
}

.sort-control-panel .sort-by {
	min-width: 78px;
	padding-left: 3px;
}

.sort-by .sort-types {
	color: #cacaca;
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sort-by:hover .sort-types {
	color: #81b3d2;
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sort-by:active .sort-types {
	color: #000000;
	text-decoration: none;
	border-bottom: none;
}

.sort-types:focus {
	color: #81b3d2;

	outline: none;
	text-decoration: none;
	border-bottom: none;
}

.sorting-arrow {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 34px;
	padding-top: 6px;
	padding-right: 2px;
	padding-left: 3px;

	list-style-type: none;
}

.updown-link {
	padding-right: 1px;
}

.up-dir, 
.down-dir {
	width: 11px;
	height: 10px;
	fill: #cacaca;
}

.updown-link:hover .up-dir, 
.updown-link:hover .down-dir {
	fill: #231f20;
}

.updown-link:focus,
.updown-link:active .up-dir, 
.updown-link:focus .up-dir,
.updown-link:active .down-dir, 
.updown-link:focus .down-dir {
	fill: #81b3d2;
	outline: none;
}

/***---Отсортированные отели---***/ 

.place-equalizer {
	display: flex;
	flex-wrap: wrap; 
	
	width: 1200px;
	margin: 0;
	padding: 0;

	list-style-type: none;

	background-color: #ffffff;
}

.place-aligner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 100%;
	padding-top: 25px;
	padding-left: 72px;
	padding-bottom: 29.5px;
	padding-right: 72px;
	
	border-bottom: 1px solid #e5e5e5;
}

.place-descriptor {
	display: flex;
	flex-wrap: wrap;
}

.place-descriptor > .place-photo {
	width: 135px; 
	height: 90px;
	margin-top: 5px;

	text-align: center;
	background: #f7b4dc;
	background-repeat: no-repeat;
}

.place-descriptor .basic-info {
	max-width: 775px;
	min-height: 95px;
	padding-left: 30px;

	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	text-transform: uppercase;
}

.basic-info > h3 {
	margin-top: 0;
	margin-bottom: 7px;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	letter-spacing: 0.3px;
}

.basic-info > p {
	display: inline-block;

	width: 107px;
	margin-top: 0;
	margin-right: 5px;
	margin-bottom: 10px;

	vertical-align: middle;
}

.details-and-to-book {
	margin-top: 1px;
}
.details-and-to-book .go-details, 
.details-and-to-book .go-to-book {
	display: inline-block;

	margin-top: 4px;
	margin-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

.details-and-to-book .go-details {
	width: 110px;
	
	transition-duration: 150ms;
	background-color: #81b3d2;
}

.details-and-to-book .go-to-book {
	width: 141px;
	
	transition-duration: 150ms;
	background-color: #766357;
}

.details-and-to-book .go-details:hover, 
.details-and-to-book .go-details:focus {
	outline: none;
	background-color: #669ec0;	
}

.details-and-to-book .go-to-book:hover, 
.details-and-to-book .go-to-book:focus {
	outline: none;
	background-color: #604e43;	
}

.details-and-to-book .go-details:active {
	color: #94b9d2;
	background-color: #5496bd;
}

.details-and-to-book .go-to-book:active {
	color: #928a85;
	background-color: #503e33;
}

/***---Рейтинг и звёздность выбранного места---***/

.stars-and-rating {
	width: 110px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
		
	text-align: center;
}

.stars-and-rating .stars {
	width: 100%;
	height: 17px;
	margin: 5px 0 42px 0;
	padding: 0;

	font-size: 0;
}

.stars.assessment-amara {
	background-image: 
		url("../img/star.svg"), 
		url("../img/star.svg"),
		url("../img/star.svg"),
		url("../img/star.svg");
	background-repeat: no-repeat;
	background-position: 20px 0, 45px 0, 69px 0, 92px 0;
}

.stars.assessment-quail {
	background-image: 
		url("../img/star.svg"),
		url("../img/star.svg"),
		url("../img/star.svg");
	background-repeat: no-repeat;
	background-position: 45px 0, 69px 0, 92px 0;
}

.stars.assessment-poco {
	background-image: 
		url("../img/star.svg"),
		url("../img/star.svg");
	background-repeat: no-repeat;
	background-position: 69px 0, 92px 0;
}

.stars-and-rating > p {
	width: 100%;
	margin: 0 1px 0 0;
	padding: 3px 0 0 3px;

	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
	color: #666666;

	background-color: #f2f2f2;
}























.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	overflow: hidden;
	border: 0;
	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
}









/*
background-color:
даже, если изображение непрозначно и цвет не будет показан при нормальных 
обстоятельствах, веб-разработчику следует всегда указывать аттрибут background-color. 
если изображение не может быть загружено —например, в случае отказа сетевого 
подключения — у элемента будет отображён цветной фон.
*/