
@font-face {
	font-family: "ptsans";
	font-style: normal;
	font-weight: normal;
	src: 
		url("../fonts/ptsans.woff2") format("woff2"),
		url("../fonts/ptsans.woff") format("woff");
}

@font-face {
	font-family: "ptsans";
	font-style: normal;
	font-weight: bold;
	src: 
		url("../fonts/ptsansbold.woff2") format("woff2"),
		url("../fonts/ptsansbold.woff") format("woff");
}

body {
	width: auto;
	margin: 0 auto;

	font-family: "ptsans", arial, sans-serif;
	background-color: #f2f2f2;
	
/*	background-image: url("../img/sedona-index.png"); 
	background-repeat: no-repeat;
	background-position: 50% 0;
	opacity: 0.7; */
	
/*	background-image: url("../img/sedona-hotels.png"); 
	background-repeat: no-repeat;
	background-position: 50% 0;
	opacity: 0.7; */
}

.container {
	display: flex; 	
	flex-direction: column; 

	width: 1200px;
	margin: 0 auto;

	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/***---HEADER---***/

.header {
	position: relative;

	width: 1200px;
	margin: auto;

	background-color: #ffffff;
}

.navigator {
	display: flex;
	flex-wrap: wrap;

	padding: 0;	
	margin: 0 71px;
	
	list-style-type: none;
}

.go-to-page {
	min-height: 56px;
}

.go-to-page a {
	display: inline-block;
	margin: 14px auto;

	vertical-align: top;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}

.go-to-page:nth-child(4n-3) {
	width: calc(240px - 10px);
	padding-right: 10px;
}

.go-to-page:nth-child(4n-2) {
	width: calc(240px - 10px);
	padding-right: 10px;
	padding-left: 2px;
}

.go-to-page:nth-child(4n-1) {
	width: calc(240px - 10px);
	padding-right: 2px;
	padding-left: 10px;
	margin-left: auto;

	text-align: right;
	letter-spacing: .4px;
}

.go-to-page:nth-child(4n) {
	width: calc(240px - 10px);
	padding-left: 10px;
	text-align: right;
}

.go-to-page a:not(.inactive):hover,
.go-to-page a:not(.inactive):focus {
	color: #81b3d2;
}

.go-to-page a:not(.inactive):active {
	color: #cacaca;
}

.go-to-page .inactive {
	color: #766357;
	cursor: default;
}

.logo {
	position: absolute; 
	left: 50%; 	
	top: -1px;

	width: 140px;
	height: 72px;
	margin-left: -70px;
}

/***---INDEX: MAIN---***/

.main-index, 
.main-hotels {
	display: flex;
	flex-wrap: wrap;
}

.welcome-sector {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	background-color: #e4f1f9;
	background-image: url("../img/mountains.jpg");
	background-repeat: no-repeat;
	background-position: center top -83px;
}

.sedona {
	min-height: 508px;
	width: 100%;
	margin: 0 auto;

	background-image: url("../img/polygon.svg");
	background-repeat: no-repeat;
	background-position: center bottom -2.5px;
	background-size: contain;
}

.sedona img {
	display: block;
	min-width: 459px;
	min-height: 353px;
	/*margin: 76px auto 0;*/
	margin: 76.5px auto 0 370.5px;
}

.presentation {
	min-height: 216px; 
	width: 100%;
	margin: 0 auto;

	text-align: center;
	background-color: #ffffff;
}

.presentation > h1 {
	width: 470px;
	margin: 59px auto 28px;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	overflow-wrap: normal;	
}

.presentation > p {
	width: calc(100% - 200px);
	margin: 0 auto 15px;

	color: #333333;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0.1px;
}

/***---Список преимуществ Седоны---***/

.reasons {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.advantage {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}

.advantage:nth-of-type(2) {
	flex-direction: row-reverse;
}

.primary {
	width: 400px; 
	min-height: 256px;

	list-style: none;
	text-align: center; 
	text-transform: uppercase;
}
 
.primary.blue-layout {
	background-color: #81b3d2;
	color: #ffffff;
}

.primary.lightgray-layout {
	background-color: #eeeeee;
}

.primary h2 {
	width: 150px;
	margin: 47px auto 24px;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	overflow-wrap: normal;
}

.primary p {
	width: calc(100% - 30px);
	margin: 0 auto 22px;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	overflow-wrap: normal;
}

.advantage:first-of-type p {
	width: 310px;
	letter-spacing: 0.3px;
}

.advantage:nth-of-type(2) p {
	width: 320px;
	letter-spacing: 0.1px;
}

.primary:nth-of-type(n + 3) p {
	width: 258px;
	/*letter-spacing: 0.1px;*/
}

.image-wrapper {
	display: block;
	width: 800px;
	min-height: 256px;

	font-size: 0;

	background-color: #81b3d2;
}

.secondary-wrapper {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
}

.secondary {
	width: 400px; 
	min-height: 330px;

	list-style: none;
	text-align: center; 
	text-transform: uppercase;

	background-color: #ffffff;
}

.secondary.icon-home {
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: center top 60px;
}

.secondary.icon-dish {
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: center top 61px;
}

.secondary.icon-souvenir {
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: center top 56px;
}

.secondary h3 {
	min-width: 300px;
	margin: 161px auto 12px;

	font-size: 21px;
	font-weight: bold;
	line-height: 21px;
}

.secondary p {
	width: 300px;
	margin: 24px auto 12px;

	color: #333333;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	overflow-wrap: normal;
	letter-spacing: 0.1px;
}

/***---Сектор с кнопкой, открывающей нижерасположенную форму---***/

.lowest-sector {
	overflow: hidden;
}

.search-sector {
	display: block;
	width: 100%;
	min-height: calc(289px - 49px);
	padding: 49px 0 0;
	
	text-align: center; 
	text-transform: uppercase;

	background-color: #ffffff;
}

.search-sector h2 {
	margin: 0 auto 25px;
	
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
}

.search-sector p {
	width: 500px;
	margin: 20px auto 20px;

	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	overflow-wrap: normal;
	color: #333333;
}

.popup-opener {
	width: 568px;
	margin: 27px auto 0;
	padding: 30px 10px;
	
	vertical-align: middle;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px; 
	color: #ffffff;
	text-transform: uppercase;
	
	transition-duration: 150ms;
	background-color: #766357;
	border: none;
	outline: none;
}

.popup-opener:hover,
.popup-opener:focus {
	background-color: #604e43;
}

.popup-opener:active, 
.popup-opener:active {
	color: #928a85;
	background-color: #503e33;
}

/***---Форма подбора  гостиниц---***/

.lowest-sector {
	position: relative;
}

.booking-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	position: absolute;
	left: calc(50% - 284px);
	width: 488px;
	height: 286px;
	padding: 55px 40px 54px 40px;
	overflow: hidden;

	z-index: 1;
	
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;

	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	background-color: #ffffff;
}

.booking-form-appear {
	-webkit-animation-duration: 1000ms;
					animation-duration: 1000ms;
	-webkit-animation-name: booking-form-appear-animation;
					animation-name: booking-form-appear-animation;
}

@-webkit-keyframes booking-form-appear-animation {
	from {
		height: 0; top: -100px; transform: scaleY(0.9);
	}	
	50% {
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
	}
	to {
		height: 285px;
		top: 0;
		transform: scaleY(1);
		color: #000000;
	}
}

@keyframes booking-form-appear-animation {
	from {
		height: 0;
		top: -100px;
		transform: scaleY(0.9);
	}	
	50% {
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
	}
	to {
		height: 285px;
		top: 0;
		transform: scaleY(1);
		color: #000000;
	}
}

.booking-organizer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0 auto 29px;
}

.booking-organizer.full-width-layout {
	width: 458px;
}

.booking-organizer.left-width-layout {
	width: 227px;
	margin-right: 2px;
}

.booking-organizer.right-width-layout {
	width: 227px;
	margin-left: 2px; 
}

.date-picker {
	display: block;
	width: 30px;
	min-height: 30px;
	padding-left: 7px;
	padding-top: 8px;

	background-color: #f2f2f2;
	border: none;
}

.calendar-icon {
	width: 21px;
	height: 22px;

	fill: #cacaca;
}

.date-picker:hover .calendar-icon, 
.date-picker:focus .calendar-icon {
	outline: none;
	fill: #000000;
}

.date-picker:active .calendar-icon {
	fill: #81b3d2;
}

.booking-organizer label {
	display: block;
	width: 111px;

	padding-top: 6.5px;
	padding-left: 2px;
	
	text-align: left;
}

.booking-organizer .title-for-adult {
	width: 113px;
	padding-left: 0;
}

.booking-organizer .title-for-children {
	width: calc(113px - 50px) ;
	padding-left: 49px;
} 

.entry-field {
  min-height: 38px;

  text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	
  background-color: #f2f2f2;
	border: none;
}

.entry-field.for-date {
	width: 284px;
	padding: 0 12px;
}

.entry-field.for-date:hover {
	outline: none;
	background-color: #ebebeb;
}

.entry-field.for-date:focus {
	outline: 2px solid #e5e5e5;
	background-color: #ffffff;
}

.entry-field.for-quantity {
	width: 38px;
	padding: 0;
	text-align: center;
}

.entry-field.for-quantity:focus {
	outline: 2px solid #e5e5e5;
}

.quantity-control {
	width: 38px;
	height: 38px;
	padding: 0;
	
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #a9a9a9;	
	background-color: #f2f2f2;

	border: none;
}

.quantity-control:first-of-type {
	font-size: 23px;
	z-index: 1;
}

.quantity-control:last-of-type {
	padding-top: 4px;
}

.quantity-control:hover, 
.quantity-control:focus {
	outline-offset: -5px;
	color: #000000;
}

.quantity-control:active {
	outline: none;
	color: #81b3d2;
}

.btn-reservation {
	width: 458px;
	min-height: 58px;
	margin: 25px auto 0;
	padding-top: 0;

	border: none;

	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #ffffff;
	
	transition-duration: 150ms;
	background-color: #81b3d2;
}

.btn-reservation:hover, 
.btn-reservation:focus {
	outline: none;
	background-color: #669ec0;
}

.btn-reservation:active {
	outline: none;
	color: #94b9d2;
	background-color: #5496bd;
} 

/***---Карта---***/

.map-wrapper {
	height: 594px;
	width: 100%;
	overflow: hidden;
}

.map-surface {
	display: block;
	width: 1718px;
	height: 748px;
	margin: -154px -259px;
}

/***---Футер---***/

.footer {
	display: flex;
	flex-wrap: wrap;	
	width: 100%;
	margin: 0 auto;

	background-color: #ffffff;	
}

.extended-footer {
	position: absolute;
	bottom: 0;

	min-height: 121px;

	background-color: rgba(255, 255, 255, 0.9);	
}

.equalizer {
	display: block;

	width: 400px;
	margin: 0 auto;
	padding-top: 14px;
	padding-bottom: 16px;

	text-align: center;
	text-transform: uppercase;
}

.visitsedona {
	width: calc(100% - 20px);
	margin: 20px auto;
	padding-top: 12px;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.websites {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
	width: calc(100% - 30px - 30px);
	padding-top: 19px;
	padding-right: 30px;
	padding-left: 30px;

	list-style-type: none;
}

.network {
	display: block;
	width: 46px; 					
	height: 48px; 
	margin: 3px;

	font-size: 0;
	
	transition-duration: 150ms;
	background-color: #81b3d2;
}

.twitter-icon {
	width: 17px;
	height: 15px;
	margin-top: 17px;
	fill: #ffffff;
}
.facebook-icon {
	width: 12px;
	height: 22px;
	margin-top: 13px;
	margin-left: -1px;
	fill: #ffffff;
}

.youtube-icon {
	width: 20px;
	height: 16px;
	margin-top: 16px;
	fill: #ffffff;
}

.network:hover, 
.network:focus {
	outline: none;
	background-color: #669ec0;
}

.network:active {
	outline: none;
	background-color: #5496bd;
}

.network:active .change-social-icon {
	fill: #88b6d1;
}

.copyright {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.website-by {
	margin-top: 13px;
	margin-right: 4px;
	margin-left: 3px;

	font-size: 14px;
	line-height: 26px;
}

.logo-icon {
	width: 115px;
	height: 41px;
	margin-left: 3px;
	
	transition-duration: 150ms;
	fill: #231f20;
}

.go-to-academy {
	font-size: 0;
}

.go-to-academy:hover .logo-icon, 
.go-to-academy:focus .logo-icon {
	fill: #81b3d2;
}

.go-to-academy:active .logo-icon {
	fill: #bdbbbc;
}

/***---HOTELS: Форма в верхней части страницы---***/

.form-filter {	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: calc(1200px - 72px - 72px);
	min-height: calc(217px - 10.5px - 7.5px);
	padding: 10.5px 72px 7.5px 72px;

	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #6b92b9;
	background-image: url("../img/bg-search.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.form-filter .title-checkbox {
	min-height: 21px;
	margin-bottom: 24.5px;
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
}

.form-filter .title-checkbox.set-wide-text {
	letter-spacing: 0.3px;
}


.filter-by-accommodation, 
.choose-from {
	padding: 0;
	list-style: none;
}

.filter-by-accommodation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	min-height: 100px;
	margin: 0;
}

.block-infrastructure, 
.block-housing {
	width: 254px;
}

/***---Пользовательский чекбокс---***/

.new-item {
	margin-bottom: 24px;
	padding-top: 1px;
	padding-left: 40px;
}

.block-housing .new-item {
	padding-left: 42px;
}

.device {
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
}

.base-box {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	overflow: hidden;
	border: 0;
	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
}

.new-item .custom-box {
	position: absolute;
	width: 29px;
	height: 27px;
	margin-top: -3px;
	margin-left: -42px;
}

.block-housing .custom-box {
	margin-left: -43px;
}

.new-item:nth-of-type(3n) {
	padding-top: 1px;
}

.new-item:nth-of-type(3n) .custom-box {
	margin-top: -3px;
}

.custom-box .closedbox {
	fill-opacity: 1;
}

.custom-box .component-checkmark, 
.custom-box .component-tornbox, 
.custom-box .outline {
	fill-opacity: 0;
}

.base-box:checked + .custom-box .component-tornbox {
	-webkit-transition: 500ms;
	fill-opacity: 1;
}

.base-box:checked + .custom-box .component-checkmark {
	-webkit-transition: 1000ms;
	fill-opacity: 1;
}

.base-box:checked + .custom-box .closedbox {
	-webkit-transition: 500ms;
	fill-opacity: 0;
}

.base-box:focus ~ .custom-box .outline, 
.base-box:active ~ .custom-box .outline {
	fill: #ff0000;
	fill-opacity: 1;
}

.base-box:disabled ~ .custom-box .closedbox {
	fill: #6a6a6a;
	fill-opacity: 1;
}

.base-box:disabled ~ .custom-box .outline, 
.base-box:disabled ~ .custom-box .component-checkmark, 
.base-box:disabled ~ .custom-box .component-tornbox {
	fill-opacity: 0;
}

.base-box:checked:disabled ~ .custom-box .closedbox, 
.base-box:checked:disabled ~ .custom-box .component-checkmark, 
.base-box:checked:disabled ~ .custom-box .component-tornbox {
	fill: #6a6a6a;
	fill-opacity: 1;
}

.base-box:disabled ~ .custom-box .outline {
	fill-opacity: 0;
}

/***---Слайдер---***/ 

.filter-range {
	width: 318px;
}

.filter-range-title {
	margin-top: 16px;
	margin-bottom: 11px;
	padding-left: 2px;

	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
	letter-spacing: 0.17px;
	color: #ffffff;
}

.price-control {
	position: relative;
	width: 314px;
	height: 32px;
	margin-bottom: 20px;
	
	font-size: 0;

	border: 2px solid #ffffff; 
	border-radius: 2px;
}

.price-control .title-price {
	display: inline-block;
	width: 82px;
	padding-left: 65px; 
	padding-top: 6px;

	font-size: 14px;
	line-height: 21px;
	vertical-align: top;

	cursor: pointer;
}

.title-price > input {
	width: 50px;
	margin: 0;
	padding: 0; 

	font-size: 14px;
	line-height: 21px;
	vertical-align: top;
	color: #ffffff;

	background: none; 
	border: none;
}

.price-control::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 22px;
	left: 50%;
	top: 50%;
	transform: translate(calc(-50% + 2px), -50%);

	background-color: #ffffff;
}

.range-control {
	position: relative;

	margin-bottom: 32px; 
	margin-left: 1px;
}

.range-control .scale {
	height: 2px;

	background-color: rgba(255, 255, 255, 0.3);
}

.scale .bar {
	width: 80%;
	height: 2px;

	background-color: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;

	border: 8px solid #ffffff;
	border-radius: 50%;
	background-color: #ababab;
}

.range-toggle:hover {
	background-color: #224ADC;
}

.range-toggle-min {
	left: 0px;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;

	width: 137px;
	min-height: 35px;
	margin: 0 auto 0 85.5px;
	padding: 6px;
	padding-bottom: 5px;

	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
	
	transition-duration: 150ms;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover, 
.btn-transparent:focus {
	color: #000000;
	outline: none;
	background-color: #ffffff;
}

/***---Панель с сортировкой---***/ 

.sorting-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	
	min-height: 56px;
	width: calc(1200px - 71px - 70px);
	padding-left: 71.5px;
	padding-right: 70px;
	padding-top: 15.5px;
	padding-bottom: 15px;
	
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;

	border-bottom: 0.5px solid #e5e5e5;
	background-color: #ffffff;
}

.sorting-block > p:nth-of-type(2) {
	width: 150px;
	
	margin-top: 14px;
	margin-bottom: 14px;
	
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.sorting-block > p:last-of-type {
	width: 104px; 

	margin-top: 20px;
	
	text-align: center;
}

.sort-control-panel {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	
	margin-top: 20px;
	padding-left: 22.5px;
	padding-right: 25px;
	
	list-style-type: none;
}

.sort-control-panel .sort-by {
	width: 78px;
	padding-left: 3px;
}

.sort-by .sort-types {
	color: #cacaca;
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sort-by:hover .sort-types {
	color: #81b3d2;
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sort-by:active .sort-types {
	color: #000000;
	text-decoration: none;
	border-bottom: none;
}

.sort-types:focus {
	color: #81b3d2;

	outline: none;
	text-decoration: none;
	border-bottom: none;
}

.sort-types.sort-active-onload {
	color: #81b3d2;
	text-decoration: none;
	border-bottom: none;
}

.sorting-arrow {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 35px;
	padding-top: 24px;
	padding-right: 2px;
	padding-left: 3px;

	font-size: 0;

	list-style-type: none;
}

.updown-link {
	padding-right: 1px;
}

.updown-link.updown-active-onload .down-dir {
	fill: #81b3d2;
	outline: none;
}

.up-dir, 
.down-dir {
	width: 11px;
	height: 10px;
	fill: #cacaca;
}

.updown-link:hover .up-dir, 
.updown-link:hover .down-dir {
	fill: #231f20;
}

.updown-link:focus,
.updown-link:active .up-dir, 
.updown-link:focus .up-dir,
.updown-link:active .down-dir, 
.updown-link:focus .down-dir {
	fill: #81b3d2;
	outline: none;
}

/***---Отсортированные отели---***/ 

.place-equalizer {
	display: flex;
	flex-wrap: wrap; 
	
	width: 1200px;
	margin: 0;
	padding: 0;

	list-style-type: none;

	background-color: #ffffff;
}

.place-aligner {
	display: flex;
	flex-wrap: wrap;

	width: calc(1200px - 72px - 72px);
	min-height: 96px;
	padding: 25px 72px 29px 72px; 
	
	border-bottom: 1px solid #e5e5e5;
}

.place-aligner > .place-photo {
	order: 1;
	width: 135px; 
	height: 90px;
	margin-top: 5px;

	text-align: center;
	background: #f7b4dc;
	background-repeat: no-repeat;
}

.place-aligner > .basic-info {
	order: 2;
	flex-grow: 1;

	max-width: 781px;
	min-height: 95px;
	padding-left: 30px;

	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	text-transform: uppercase;
}

.basic-info > h3 {
	margin-top: 0;
	margin-bottom: 7px;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	letter-spacing: 0.3px;
}

.basic-info > p {
	display: inline-block;

	width: 107px;
	margin-top: 0;
	margin-right: 5px;
	margin-bottom: 10px;

	vertical-align: middle;
}

.details-and-to-book {
	margin-top: 1px;
}
.details-and-to-book .go-details, 
.details-and-to-book .go-to-book {
	display: inline-block;

	margin-top: 3.5px;
	margin-right: 2.5px;
	padding-top: 2.5px;
	padding-right: 5px;
	padding-bottom: 3.5px;
	padding-left: 5px; 

	vertical-align: top;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

.details-and-to-book .go-details {
	width: calc(110px - 5px - 4.5px);
	
	transition-duration: 150ms;
	background-color: #81b3d2;
}

.details-and-to-book .go-to-book {
	width: calc(141px - 5px - 4px);
	
	transition-duration: 150ms;
	background-color: #766357;
}

.details-and-to-book .go-details:hover, 
.details-and-to-book .go-details:focus {
	outline: none;
	background-color: #669ec0;	
}

.details-and-to-book .go-to-book:hover, 
.details-and-to-book .go-to-book:focus {
	outline: none;
	background-color: #604e43;	
}

.details-and-to-book .go-details:active {
	color: #94b9d2;
	background-color: #5496bd;
}

.details-and-to-book .go-to-book:active {
	color: #928a85;
	background-color: #503e33;
}

.assessment {
	order: 3;

	width: 110px;
 
	text-align: center;
}

.assessment .stardom {
	width: 110px;
	height: 17px;
	margin: 5px 0 46px 0;
	padding: 0;

	font-size: 0;
}

.four-stars {
	background-image: 
		url("../img/star.svg"), 
		url("../img/star.svg"),
		url("../img/star.svg"),
		url("../img/star.svg");
	background-repeat: no-repeat;
	background-position: 20px 0, 45px 0, 69px 0, 92px 0;
}

.three-stars {
	background-image: 
		url("../img/star.svg"),
		url("../img/star.svg"),
		url("../img/star.svg");
	background-repeat: no-repeat;
	background-position: 45px 0, 69px 0, 92px 0;
}

.two-stars {
	background-image: 
		url("../img/star.svg"),
		url("../img/star.svg");
	background-repeat: no-repeat;
	background-position: 69px 0, 92px 0;
}

.assessment > p {
	width: calc(110px - 3px - 3px);
	margin: 0 1px 0 0;
	padding: 3px 3px 3px 3px;

	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
	color: #666666;

	background-color: #f2f2f2;
}























.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	overflow: hidden;
	border: 0;
	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
}









/*
background-color:
даже, если изображение непрозначно и цвет не будет показан при нормальных 
обстоятельствах, веб-разработчику следует всегда указывать аттрибут background-color. 
если изображение не может быть загружено —например, в случае отказа сетевого 
подключения — у элемента будет отображён цветной фон.
*/