
body {
	background-color: #AA9A3A27;
	/*
	background-image: url('../img/temp_sedona-index.png'); 
	background-repeat: no-repeat;
	background-position: 50% 0;
	opacity: 0.5; 
	*/

	width: auto; 
}

.container {
	width: 1200px;
	margin: auto;

	/*Вкладываем header + main + footer согласно flex-модели:*/
	display: flex; 	
	/*Располагаем header + main + footer вертикально:*/
	flex-direction: column; 	
	/*default... элементы выстраиваются в одну линию:*/
	flex-wrap: nowrap; 		

	/*todo: Тень вокруг body*/
	/*todo: Подложку белую... Возможно, просто фон, который тянется во все стороны*/

	font-family: "PT Sans", Arial, sans-serif;

}

/*---------------------------------------------*/
/*----------------H*E*A*D*E*R------------------*/

header {
	/*Временный цвет:*/
	background-color: #FF6A0041;

	font-weight: bold;
	line-height: 26px;

	position: relative;
}

	.navigation {
		/*Временный цвет:*/
		background-color: #4CFF004A;

		width: auto; 

		/*Убираем defaulf-отступы:*/	
		padding: 0;	
		margin: 0;

		/*Убираем стили списка:*/
		list-style: none; 			
		
		display: flex;
		/*Дочерние выравниваются в одну линию и равномерно распределяются:*/
		flex-wrap: nowrap; 		
		justify-content: space-between;		
	}

		/*todo: размер корректировать:*/
		.navigation li {
			/*Временный цвет:*/
			background-color: #FF00AE4A;

			/*Задаём высоту строки, центрируем текст и устанавливаем ширину:*/
			line-height: 56px;
			width: 240px;
			
			text-align: center;
		}

		/*Создаём место под логотип:*/
		.navigation li:nth-child(2) {margin-right: 120px;}
		.navigation li:nth-child(3) {margin-left: 120px;}
		
		/*Убираем оформление ссылок:*/
		.navigation a {text-decoration: none;} 

	.logo {
		background-color: #8080804A;

		width: 140px;
		height: 72px;

		/*Позиционируем logo относительно wrap-navigation:*/
		position: absolute; 
		/*Центруем по header, и смещаем влево на ширину логотипа:*/
		left: 50%; 	
		margin-left: -70px;
		/*todo: позиц.по верхней границе wrap-navigation:*/
		top: 0px;	
	}
	
	/*todo: цвета заменить,*/
	/*todo: проверить действие на второй странице:*/
	.logo:link {color: #FF006E;}	
	.logo:hover {color: #FF006E;}	
	.logo:active {color: #FF006E;} 	
	.logo:visited {color: #FF006E;}

/*-------------------------------------------*/
/*----------------M*A*I*N--------------------*/

main {
	background-color: #7FC9FF79;
}

/*-------------------------------------------*/
/*-------------F*O*O*T*E*R-------------------*/

footer {
	/*Временный цвет:*/
	background-color: #B200FF1E;
	/*Флекс-модель:*/
	display: flex;
	/*Дочерние выравниваются в одну линию и равномерно распределяются:*/
	flex-wrap: nowrap; 
	justify-content: space-between;		
}
	
	/*Временный цвет:*/
	footer p {
		background-color: #7FFF8E6B;
		margin: 0;
		padding: 0;
		
		font-size: 21px;
		line-height: 26px;
	}
	
	.websites {
		/*Временный цвет:*/
		background-color: #0054FF35;
		
		/*Убираем стили списка:*/
		list-style: none; 			
		
		/*Вложенные li - согласно flex-модели*/
		display: flex;
		flex-wrap: nowrap; 	
		/*Располагаем дочерние li в одну строку:*/			
		justify-content: center;
		/*todo: размеры подогнать:*/
		/*width: 100%; 		*/			
		height: auto; 
	}

		.websites li {
			background-color: #81b3d2; 
			background-position: 50% 50%;
			background-repeat: no-repeat;
			/*margin: 5px;*/
		}

		.websites a {
			/*Меняем модель на блочное поведение*/
			display: block;

			width: 46px; 					
			height: 49px; 	
			
			/*Текст есть, но визуально не представлен*/
			font-size: 0;
		}

		.websites li:nth-child(1) {background-image: URL("../img/twitter.svg");}
		.websites li:nth-child(2) {background-image: URL("../img/fb-icon.svg");}
		.websites li:nth-child(3) {background-image: URL("../img/youtube.svg");}

	.copyright {
		font-size: 14px;
		line-height: 26px;

		background-color: #7C7C7C95;
		background-image: URL("../img/logo-htmlacademy.svg");
		background-repeat: no-repeat; 
		background-position: center;
	}

/*-------------------------------------------*/
/*-------------------------------------------*/


.visually-hidden {
	display: none;
	/*position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}


/*
background-color:
Даже, если изображение непрозначно и цвет не будет показан при нормальных 
обстоятельствах, веб-разработчику следует всегда указывать аттрибут background-color. 
Если изображение не может быть загружено —например, в случае отказа сетевого 
подключения — у элемента будет отображён цветной фон.
*/